body {
  display: flex;
  font-family: Arial;
  margin: 0;
}

aside {
  width: 200px;
  background: #2c2c2c;
  color: white;
  padding: 10px;
}

aside button {
  width: 100%;
  margin-bottom: 10px;
}

main {
  flex: 1;
  padding: 20px;
}
