*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Inter, sans-serif;
}

body{
    background:#0B0D10;
}

/* PAGE LAYOUT */
.page{
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */
.sidebar{
    width:350px;
    background:#181C22;
    border-right:3px solid #3A3F46;
    color:#C9CCD1;
    padding:40px 30px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.logo{
    color:#fff;
    font-size:22px;
    line-height:28px;
    margin-bottom:40px;
}

.menu p{
    margin:12px 0;
    font-size:17px;
    cursor:pointer;
}

.menu-title{
    color:#86B9FF;
    font-weight:700;
    margin-top:20px;
}

.active{
    text-decoration:underline;
    color:#9DC6FF;
}

/* MAIN CONTENT */
.content{
    flex:1;
    padding:40px;
}

.welcome{
    color:#fff;
    font-size:40px;
}

.welcome span{
    font-weight:400;
}

.page-title{
    color:#fff;
    font-size:38px;
    margin-top:40px;
}

/* TOP CONTROLS */
.top-controls{
    display:flex;
    gap:20px;
    margin:30px 0;
}

.search-box,
.filter-box{
    background:#181C22;
    padding:18px;
    border-radius:10px;
    color:#C9CCD1;
    width:300px;
}

.filter-btn{
    background:#3A3F46;
    padding:18px 40px;
    border-radius:10px;
    color:#fff;
    cursor:pointer;
}

/* TABLE */
.table-wrapper{
    background:#C9CCD1;
    padding:20px;
}

.table{
    background:#fff;
}

.thead,
.row{
    display:grid;
    grid-template-columns: repeat(9, 1fr);
}

.thead{
    background:#FCFCFD;
    font-weight:600;
    color:#667085;
}

.thead div,
.row div{
    padding:12px;
    border-bottom:1px solid #EAECF0;
}

.row{
    color:#667085;
}
